*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    width: 100px;
    height: 28px;
    background-color: tomato;
    position: absolute;
}
.top:hover h2{
position: relative;
z-index: 2;
}
.top:hove{
    position: relative;
    z-index: -1
    }
