* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  width: 100px;
  height: 28px;
  background-color: tomato;
  position: absolute;
  z-index: 0;
}
.top:hover {
  /* display: none; */
  z-index: -99;
}

.top:hover p {
  /* display: block; */
  z-index: 2;
}

p {
  /* display: none; */
  position: relative;
}
