* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  width: 100px;
  height: 28px;
  background-color: tomato;
  position: absolute;
  z-index: 0;
}
.top:hover p{
position: relative;
z-index: 2;
}
.top:hover{
    position: relative;
    z-index: -1
    }

p{
  display: none;
}
