p{
    color: red;
    font-weight: bold;
    font-style: italic;
}
h2{
    color: yellow;
    font-size: 30px;
    background-color: #EFB495;
}
img{
    width: 200px;
    height: 200px;
}
a{
    text-decoration: none;
}